/* FOOTER */

footer{
    margin-top: 20px;
    background-color: #85C441;
}

.footer_items{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_items ul li{
    color: #fff;
    list-style: none;
}

.footer_item_social img{
    margin-left: 10px;
}
/* HEADER 2 */

.header_2{
    color: #fff;
    position: absolute;
    width: 100%;
}

.logo_2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:#000;
    /* font-size: 36px; */

}
